body {
    font-family: sans-serif;
}
table {
    width: 600px;
    border-collapse: collapse;
    border:2px solid #999;
}
tr td {
    border: 1px solid #aaa;
    font-family: sans-serif;
    text-align: center;
    font-size:50px;
    padding:50px 0;
}

/*pro tabulu navíc třída:*/

.tiktaktoe2 {
    width: 100%;
    height: 100%;
    border-collapse: collapse; /* nejsou mezery mezi buňkami */
    text-align: center; /* Zarovnaný text - na střed */
    font-size: 100%; /* velikost */
}

.tiktaktoe2 td {
    width: 66px;
    height: 66px;
    border: 2px solid rgb(102, 11, 11); /* Černé okraje mezi buňkami */
}

